







.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {
	display: inline-block;
  	min-height: 1px;
  	vertical-align: top;
  	height: fill; 
}
.col-1 {
	width: 16.66666667%;
	
}


.col-2 {
	width: 32%;
	
}

.col-3 {
	width: 49%;

}

.col-4 {
	width: 66.6666667%;

}

.col-5 {
	width: 83.3333333%;
}

.col-6 {
	width: 100%;
}

.row {
  padding-left: : 2%;
  margin-left: 2%;


}



