
.error {
	background-color: red;
}

/*.result p {
	font-weight: bold;
	display: inline-block;
}*/

.output-minibox {
	border: 1px solid;
	border-radius: 1px;
	width: 50%;
}

.hidden-checkbox{
	display: none;
}

#banner-header{
	color: black;
}
