body
{
	background-image: url("../img/bg.png");
}

.container
{
	background: rgba(255,255,255,0.87);
	padding-top: 1em;
}

.error
{
	background-color: red;
}




/*
table 
{
  width:100%;
}
table, th, td 
{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td 
{
	padding: 15px;
 	text-align: left;
}
*/
